* {
    box-sizing: border-box;
}

#topnav {
    margin: 0;
    padding: 20px 30px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 100%;
    position: fixed;
    transition: top 0.3s ease-in-out;
    z-index: 5;
    top: 0;
}

.topnav-left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo-container {
    justify-content: center;
    align-items: center;
}

.logo-container a {
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    margin: 12px;
    margin-right: 40px;
    padding: 8px;
    color:	#5499c7;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.5s;
}

.logo-container a:hover {
    background-color: #28282B;
}

.navbar {
    align-items: center;
    margin-right: 15vw;
}

.navbar a {
    margin: 15px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #a9cce3;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    overflow: hidden;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #5499c7;
    transition: width 0.5s ease-in-out;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar a:not(:hover)::after {
    width: 0;
    transition: width 0.5s ease-in-out;
}

.topnav-right i {
    font-size: 24px;
    color: #a9cce3;
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow: hidden;
    transition: 1s;
  }
  
.overlay-content {
    position: relative;
    height: 100%;
    width: 100%;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
} 
  
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 60px;
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 9; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #1f618d; /* Set a background color */
    color: #a9cce3; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 15px; /* Increase font size */
    font-weight: 700;
}
  
#topBtn:hover {
    background-color: #1f618d; /* Add a dark-grey background on hover */
}