* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #faf9f6;
}

.image-credits {
    padding: 8px;
    color: #d4e6f1;
    background-color: #1c2833;
}

.no-select {
    user-select: none;
    pointer-events: auto;
}

.accent {
    color:	#a9cce3;
    text-decoration: underline;
    text-decoration-color: #a9cce3;
}

.hero {
    height: 100vh;
    width: inherit;
    margin: 0;
    background: url(hero_pic.jpg);
    background-size: cover;
}

.hero-content {
    width: 30vw;
    border-right: 3px solid #fff;
    position: absolute;
    right: 10vw;
    bottom: 18vh;
}

.hero-content .top-border {
    top: 0;
    right: 0;
    margin: 0;
    right: 0;
    width: 25%;
    height: 3px;
    background-color: #fff;
    position: absolute;
}

.hero-content .bottom-border {
    bottom: 0;
    right: 0;
    margin: 0;
    right: 0;
    width: 65%;
    height: 3px;
    background-color: #fff;
    position: absolute;
}

.hero-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: flex-end;
}

.hero-text h1 {
    margin: 0 0 10px;
    font-size: 2.8rem;
    font-family: 'Dancing Script', cursive;
    color: #5499c7;
}

.hero-text p {
    text-align: right;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    color: #d6eaf8;
}

.hero-text button {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.08rem;
    padding: 10px 17px;
    color: #d6eaf8;
    border-style: double;
    border-width: 4.8px;
    border-color: #d4e6f1;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
}

.scroll-down {
    margin-top: auto;
    padding-top: 2vh;
    height: 9vh;
    bottom: 0;
    width: 100%;
    z-index: 3;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.9));
}

.hero-image-credits {
    z-index: 4;
    position: absolute;
    bottom: 0;
    left: 1.5%;
    transform: translateX(-1.5%);
    margin-bottom: 25px;
    padding: 9px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero-image-credits:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.hero-image-credits a {
    text-decoration: underline;
    color: #f1f1f1;
}

.about-us {
    background-color: #34495e   ;
    padding: 50px 0 60px 40px;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-us .content-container {
    display: flex;
    align-items: center;
    gap: 8vw;
    width: 100%; 
    margin: 0;
}

/* Left side content */
.about-us .content-container .left-content {
    text-align: left;
    width: 60vw;
}

.about-us .content-container .left-content h2 {
    color: #d4e6f1;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.about-us .tagline {
    color: #a9cce3;
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.about-us .info-block {
    border-left: 5px solid #7fb3d5;
    padding: 10px;
    margin-bottom: 20px;
}

.about-us .info-block p {
    color: #eaf2f8;
    line-height: 1.6;
    font-size: 1.1rem;
}

.about-us .content-container .right-content {
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 25vw;
}

.about-us .content-container .right-content img {
    height: inherit;
    width: inherit;
}

.how-it-works {
    background-color: #a9cce3;
    padding: 50px 0 60px 40px;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.how-it-works .content-container {
    display: flex;
    align-items: center;
    gap: 8vw;
    width: 100%; 
    margin: 0;
}

.how-it-works .content-container .left-content {
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 25vw;
}

.how-it-works .content-container .left-content img {
    height: inherit;
    width: inherit;
}

/* Right side content */
.how-it-works .content-container .right-content {
    text-align: left;
    width: 60vw;
}

.how-it-works .content-container .right-content h2 {
    color: #2471a3;
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: right;
}

.how-it-works .tagline {
    color: #2e4053;
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-align: right;
}

.how-it-works .info-block {
    border-right: 5px solid #34495e;
    padding: 10px;
    margin-bottom: 20px;
}

.how-it-works .info-block p {
    color: #2e4053;
    line-height: 1.6;
    font-size: 1.1rem;
    text-align: right;
}